
<div class="page-header">
  <h1>Trip #<%= @trip.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>From city</dt>
  <dd><%= @trip.from_city_id %></dd>

  <dt>To city</dt>
  <dd><%= @trip.to_city_id %></dd>

  <dt>User</dt>
  <dd><%= @trip.user_id %></dd>

  <dt>Time</dt>
  <dd><%= @trip.time %></dd>

  <dt>Cost</dt>
  <dd><%= @trip.cost %></dd>

  <dt>Notes</dt>
  <dd><%= @trip.notes %></dd>

  <dt>Photo</dt>
  <dd><%= @trip.photo %></dd>

  <dt>Transportation</dt>
  <dd><%= @trip.transportation %></dd>

</dl>
